# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv
venv/
ENV/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# =========================
# Data files
# =========================
data/
# *.csv
*.tsv
*.xlsx

# =========================
# Models & outputs
# =========================
models/
*.h5
*.keras
*.pkl

# =========================
# Logs & cache
# =========================
logs/
*.log
.cache/
.history/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# TensorFlow
# =========================
.checkpoint
events.out.tfevents.*

# =========================
# Others
# =========================
*.zip
*.tar
*.gz
